{% extends 'base.html' %}

{%block title%}
    Пользователи
{%endblock%}

{%block admin%}
    

{%endblock%}

{%block content%}
         <h1> Пользователи </h1>
         <div class="container-fluid">
            <div class = 'row'>
         {%for user in users%}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{user.phone}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{user.role[0].name}}</h6>
                    <p class="card-text"></p>
                    <a href="{{url_for('admin.history', user_id = user.id)}}" class="card-link">История заказов</a>
                    
                </div>
            </div>
         {%endfor%}
         </div>
         </div>
{%endblock%}
